<div class="w-full mx-auto px-4 md:px-10 lg:px-24 xl:px-50 pt-6 pb-6 bg-card">
  <p-toolbar class="bg-transparent">
    <!-- LOGO -->
    <ng-template #start>
      <div class="flex justify-center md:justify-start w-full">
        <img src="./devolea-logo.png" alt="Logo devolea" class="h-14 md:h-18" />
      </div>
    </ng-template>

    <!-- CENTER -->
    <ng-template #center>
      <div class="flex flex-col items-center text-center gap-3 pt-4 md:pt-0">
        <div class="flex flex-col sm:flex-row items-center gap-2 sm:gap-4">
          <a
            aria-label="Privacy Policy"
            routerLink="/"
            class="font-semibold text-sm md:text-base text-text-contrast transition hover:text-hover"
          >
            Privacy Policy
          </a>

          <a
            aria-label="About Cookies"
            routerLink="/"
            class="font-semibold text-sm md:text-base text-text-contrast transition hover:text-hover"
          >
            About Cookies
          </a>
        </div>

        <p
          class="flex flex-wrap justify-center items-center gap-1 text-xs md:text-sm dark:text-gray-600 text-center"
        >
          <a href="https://github.com/Desdent/backend_reto4_ventanilla_unica">
            Ventanilla Única NovaHub
          </a>

          <span>© 2026 by</span>

          <a href="https://github.com/Desdent"> Devolea </a>

          <span>is licensed under</span>

          <a href="https://creativecommons.org/licenses/by-sa/4.0/"> CC BY-SA 4.0 </a>

          <img
            src="https://mirrors.creativecommons.org/presskit/icons/cc.svg"
            class="h-4 w-4"
            alt=""
          />

          <img
            src="https://mirrors.creativecommons.org/presskit/icons/by.svg"
            class="h-4 w-4"
            alt=""
          />

          <img
            src="https://mirrors.creativecommons.org/presskit/icons/sa.svg"
            class="h-4 w-4"
            alt=""
          />
        </p>
      </div>
    </ng-template>

    <!-- CONTACT -->
    <ng-template #end>
      <div class="flex flex-col items-center md:items-end pt-4 md:pt-0">
        <p class="pb-2 text-sm md:text-base text-text-contrast">Contact us</p>

        <div class="flex items-center gap-2 text">
          <a aria-label="Contact Email" href="/">
            <img
              src="./assets/email.svg"
              alt="Banner to send us an email"
              class="h-6 transition hover:scale-120"
            />
          </a>

          <a aria-label="Contact Twitter" href="/">
            <img
              src="./assets/twitter.svg"
              alt="Banner to our Twitter account"
              class="h-6 transition hover:scale-120"
            />
          </a>

          <a aria-label="Contact Phone" href="/">
            <img
              src="./assets/phone.svg"
              alt="Banner to give us a call"
              class="h-6 transition hover:scale-120"
            />
          </a>
        </div>
      </div>
    </ng-template>
  </p-toolbar>
</div>
