<div class="flex flex-col gap-10">
  <div class="card w-full bg-primary p-10 rounded-2xl">
    <p class="text-text text-4xl font-semibold">Admins</p>
  </div>

  <div class="card w-full bg-card p-10 rounded-2xl">
    <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-4 mb-6">
      <input
        type="text"
        placeholder="Search admins..."
        class="w-full md:w-1/3 border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-primary"
        (keyup)="onSearch($event)"
      />

      <button
        aria-label="Add Admin"
        class="bg-hover-border text-text px-5 py-2 rounded-lg cursor-pointer transition hover:bg-hover"
        (click)="modalVisible.set(true)"
      >
        <span class="pi pi-plus"></span>
      </button>
    </div>

    <div class="overflow-x-auto">
      <table class="w-full border border-gray-200 rounded-xl overflow-hidden">
        <thead class="bg-hover-border">
          <tr>
            <th
              class="text-left p-4 border-b text-text hover:bg-hover cursor-pointer"
              (click)="orderByAndReload('name')"
            >
              Name
              @if (orderField().toLocaleLowerCase() == 'name') {
                @if (orderBy().toLocaleLowerCase() == 'asc') {
                  <span class="pi pi-sort-up"></span>
                } @else {
                  <span class="pi pi-sort-down"></span>
                }
              } @else {
                <span class="pi pi-sort"></span>
              }
            </th>
            <th
              class="text-left p-4 border-b text-text hover:bg-hover cursor-pointer"
              (click)="orderByAndReload('surname1')"
            >
              Surname
              @if (orderField().toLocaleLowerCase() == 'surname1') {
                @if (orderBy().toLocaleLowerCase() == 'asc') {
                  <span class="pi pi-sort-up"></span>
                } @else {
                  <span class="pi pi-sort-down"></span>
                }
              } @else {
                <span class="pi pi-sort"></span>
              }
            </th>
            <th
              class="text-left p-4 border-b text-text hover:bg-hover cursor-pointer"
              (click)="orderByAndReload('email')"
            >
              Email
              @if (orderField().toLocaleLowerCase() == 'email') {
                @if (orderBy().toLocaleLowerCase() == 'asc') {
                  <span class="pi pi-sort-up"></span>
                } @else {
                  <span class="pi pi-sort-down"></span>
                }
              } @else {
                <span class="pi pi-sort"></span>
              }
            </th>
            <th
              class="text-left p-4 border-b text-text hover:bg-hover cursor-pointer"
              (click)="orderByAndReload('phone')"
            >
              Phone
              @if (orderField().toLocaleLowerCase() == 'phone') {
                @if (orderBy().toLocaleLowerCase() == 'asc') {
                  <span class="pi pi-sort-up"></span>
                } @else {
                  <span class="pi pi-sort-down"></span>
                }
              } @else {
                <span class="pi pi-sort"></span>
              }
            </th>
            <th
              class="text-left p-4 border-b text-text hover:bg-hover cursor-pointer"
              (click)="orderByAndReload('company')"
            >
              Company
              @if (orderField().toLocaleLowerCase() == 'company') {
                @if (orderBy().toLocaleLowerCase() == 'asc') {
                  <span class="pi pi-sort-up"></span>
                } @else {
                  <span class="pi pi-sort-down"></span>
                }
              } @else {
                <span class="pi pi-sort"></span>
              }
            </th>
            <th class="text-left p-4 border-b text-text">Actions</th>
          </tr>
        </thead>

        <tbody>
          @if (loading()) {
            @for (item of [1, 2, 3, 4, 5]; track $index) {
              <tr>
                <td class="p-4 border-b">
                  <div class="h-4 bg-bg rounded animate-pulse"></div>
                </td>
                <td class="p-4 border-b">
                  <div class="h-4 bg-bg rounded animate-pulse"></div>
                </td>
                <td class="p-4 border-b">
                  <div class="h-4 bg-bg rounded animate-pulse"></div>
                </td>
                <td class="p-4 border-b">
                  <div class="h-4 bg-bgrounded animate-pulse"></div>
                </td>
                <td class="p-4 border-b">
                  <div class="h-4 w-20 bg-bg rounded animate-pulse"></div>
                </td>
              </tr>
            }
          } @else {
            @for (admin of admins(); track $index) {
              <tr class="hover:bg-bg transition">
                <td class="p-4 border-b text-text-contrast">{{ admin.name }}</td>
                <td class="p-4 border-b text-text-contrast">{{ admin.surname1 }}</td>
                <td class="p-4 border-b text-text-contrast">{{ admin.email }}</td>
                <td class="p-4 border-b text-text-contrast">{{ admin.phone }}</td>
                <td class="p-4 border-b text-text-contrast">{{ admin.companyName }}</td>
                <td class="p-4 border-b text-text-contrast">
                  <div class="flex gap-2 text-text-contrast">
                    <button
                      aria-label="Delete Admin"
                      class="bg-red-button text-text px-3 py-1 rounded cursor-pointer transition hover:bg-red-button-hover"
                      i18n="addCompany.buttonDelete"
                      (click)="confirmAction(admin)"
                    >
                      <span class="pi pi-trash"></span>
                    </button>
                  </div>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
      <div class="flex justify-center items-center gap-4 mt-6">
        <button
          aria-label="Previous"
          class="px-4 py-2 bg-hover-border rounded disabled:opacity-50 cursor-pointer text-text-contrast"
          (click)="prevPage()"
          [disabled]="page() === 1"
        >
          Prev
        </button>

        <!--  If i've understood it correctly constructor builds an array in "real" time -->
        @for (p of [].constructor(totalPages()); let i = $index; track $index) {
          <button
            aria-label="Page Number"
            class="px-3 py-1 rounded bg-primary cursor-pointer"
            [class.bg-primary]="page() === i + 1"
            [class.text-text]="page() === i + 1"
            (click)="goToPage(i + 1)"
          >
            {{ i + 1 }}
          </button>
        }

        <button
          aria-label="Next"
          class="px-4 py-2 bg-hover-border rounded disabled:opacity-50 cursor-pointer text-text-contrast"
          (click)="nextPage()"
          [disabled]="page() === totalPages()"
        >
          Next
        </button>
      </div>
    </div>
  </div>

  <!-- THE MODAL -->
  <div class="card flex justify-center">
    <p-dialog
      header="Admin Form"
      [modal]="true"
      [visible]="modalVisible()"
      styleClass="min-w-2/5 p-4 bg-card text-text-contrast"
      (onHide)="modalVisible.set(false)"
    >
      @if (createAdminForm) {
        <form class="grid grid-cols-2 gap-6" [formGroup]="createAdminForm">
          <!-- LEFT  -->
          <div>
            <!-- Name  -->
            <div class="flex flex-col pb-6 min-h-30">
              <label for="name" class="font-semibold pb-2 text-hover" i18n="@@createAdmin.name"
                >Name *</label
              >
              <input
                type="text"
                id="name"
                formControlName="name"
                class="bg-card p-1 text-sm rounded w-full pr-25 border border-hover-border"
                placeholder="John"
              />
              @if (nameControl?.errors?.['required'] && nameControl?.touched) {
                <span
                  class="text-sm text-red-400 font-semibold pt-1"
                  i18n="@@createAdmin.errorNameRequired"
                  >Required name</span
                >
              } @else {
                @if (nameControl?.errors?.['minlength'] && nameControl?.touched) {
                  <span
                    class="text-sm text-red-400 font-semibold pt-1"
                    i18n="createAdmin.errorNameMin"
                    >Min length is 1
                  </span>
                }
                @if (nameControl?.errors?.['maxlength'] && nameControl?.touched) {
                  <span
                    class="text-sm text-red-400 font-semibold pt-1"
                    i18n="createAdmin.errorNameMax"
                    >Max length is 30
                  </span>
                }
              }
            </div>
            <!-- Surname2  -->
            <div class="flex flex-col pb-6 min-h-30">
              <label
                for="surname2"
                class="font-semibold pb-2 text-hover"
                i18n="@@createAdmin.surname2"
                >Surname2
              </label>
              <input
                type="text"
                id="surname2"
                formControlName="surname2"
                class="bg-card p-1 text-sm rounded w-full pr-25 border border-hover-border"
                placeholder="Dae"
              />
            </div>

            <!-- DNI  -->
            <div class="flex flex-col pb-6 min-h-30">
              <label for="dni" class="font-semibold pb-2 text-hover" i18n="@@createAdmin.dni"
                >DNI/NIE *</label
              >
              <input
                type="text"
                id="dni"
                formControlName="dni"
                class="bg-card p-1 text-sm rounded w-full pr-25 border border-hover-border"
                placeholder="12345678A"
              />
              @if (dniControl?.errors?.['required'] && dniControl?.touched) {
                <span
                  class="text-sm text-red-400 font-semibold pt-1"
                  i18n="@@createAdmin.errorDniRequired"
                  >Required name</span
                >
              } @else {
                @if (dniControl?.errors?.['invalidDni'] && dniControl?.touched) {
                  <span
                    class="text-sm text-red-400 font-semibold pt-1"
                    i18n="@@createAdmin.errorDniInvalid"
                    >Invalid document</span
                  >
                }
              }
            </div>
          </div>

          <!-- RIGHT   -->
          <div>
            <!-- Surname1  -->
            <div class="flex flex-col pb-6 min-h-30">
              <label
                for="surname1"
                class="font-semibold pb-2 text-hover"
                i18n="@@createAdmin.surname1"
                >Surname1 *</label
              >
              <input
                type="text"
                id="surname1"
                formControlName="surname1"
                class="bg-card p-1 text-sm rounded w-full pr-25 border border-hover-border"
                placeholder="Doe"
              />
              @if (surname1Control?.errors?.['required'] && surname1Control?.touched) {
                <span
                  class="text-sm text-red-400 font-semibold pt-1"
                  i18n="@@createAdmin.errorSurame1Required"
                  >Required surname1</span
                >
              } @else {
                @if (surname1Control?.errors?.['minlength'] && surname1Control?.touched) {
                  <span
                    class="text-sm text-red-400 font-semibold pt-1"
                    i18n="createAdmin.errorSurname1Min"
                    >Min length is 1
                  </span>
                }
                @if (surname1Control?.errors?.['maxlength'] && surname1Control?.touched) {
                  <span
                    class="text-sm text-red-400 font-semibold pt-1"
                    i18n="createAdmin.errorSurname1Max"
                    >Max length is 30
                  </span>
                }
              }
            </div>

            <!-- Email  -->
            <div class="flex flex-col pb-6 min-h-30">
              <label for="email" class="font-semibold pb-2 text-hover" i18n="@@createAdmin.email"
                >Email *</label
              >
              <input
                type="text"
                id="email"
                formControlName="email"
                class="bg-card p-1 text-sm rounded w-full pr-25 border border-hover-border"
                placeholder="Example@gmail.com"
              />
              @if (emailControl?.errors?.['required'] && emailControl?.touched) {
                <span
                  class="text-sm text-red-400 font-semibold pt-1"
                  i18n="@@createAdmin.errorEmailRequired"
                  >Required email</span
                >
              } @else {
                @if (emailControl?.errors?.['invalidEmail'] && emailControl?.touched) {
                  <span
                    class="text-sm text-red-400 font-semibold pt-1"
                    i18n="@@createAdmin.errorEmailInvalid"
                    >Invalid email</span
                  >
                }
              }
            </div>

            <!-- Phone   -->
            <div class="flex flex-col pb-6 min-h-30">
              <label for="phone" class="font-semibold pb-2 text-hover" i18n="@createAdmin.phone"
                >Phone</label
              >
              <input
                type="text"
                id="phone"
                formControlName="phone"
                class="bg-card p-1 text-sm rounded w-full pr-25 border border-hover-border"
                placeholder="954321987"
              />
              @if (phoneControl?.errors?.['required'] && phoneControl?.touched) {
                <span
                  class="text-sm text-red-400 font-semibold pt-1"
                  i18n="@@createAdmin.errorPhoneRequired"
                  >Required phone</span
                >
              } @else {
                @if (phoneControl?.errors?.['invalidPhone'] && phoneControl?.touched) {
                  <span
                    class="text-sm text-red-400 font-semibold pt-1"
                    i18n="@@createAdmin.errorPhoneInvalid"
                    >Invalid phone
                  </span>
                }
              }
            </div>

            <!-- Companies  -->
            <div class="flex flex-col pb-6 min-h-30">
              <label
                for="field"
                class="font-semibold pb-2 text-hover"
                i18n="@@@@createAdmin.company"
                >Company *</label
              >
              <select
                name="company"
                id="company"
                class="bg-card p-1 text-sm rounded w-full pr-25 border border-hover-border"
                formControlName="companyId"
              >
                <option value="" i18n="@@addCompany.selectField">Select a company</option>
                @for (company of companies(); track $index) {
                  <option value="{{ company.id }}">{{ company.name }}</option>
                }
              </select>
              @if (companyIdControl?.errors?.['required'] && companyIdControl?.touched) {
                <span
                  class="text-sm text-red-400 font-semibold pt-1"
                  i18n="@@createAdmin.errorPhoneRequired"
                  >Required company</span
                >
              }
            </div>
          </div>

          <div class="col-span-2 min-w-full flex justify-between">
            <div class="gap-2 flex"></div>
            <div class="flex justify-end">
              <button
                aria-label="Create Admin"
                type="button"
                class="bg-primary rounded p-2 transition hover:bg-hover text-text mb-1 cursor-pointer"
                i18n="@@createAdmin.createAdmin"
                (click)="onSubmit()"
              >
                Create Admin
              </button>
            </div>
          </div>
        </form>

        <div class="card flex justify-center">
          <p-dialog
            header="Error"
            [modal]="true"
            [visible]="modalErrorVisible()"
            styleClass="w-80 p-4 border border-red-600 bg-red-400 text-text"
            (onHide)="modalErrorVisible.set(false)"
          >
            <div class="gap-4 mb-4">
              <p class="pb-2" i18n="@@createAdmin.modalErrorFirstP">Oops, something went wrong.</p>
              <p class="pb-2">{{ errorMsg() }}</p>
            </div>
            <div class="flex justify-end gap-2">
              <p-button
                aria-label="Close"
                label="Close"
                severity="secondary"
                (click)="modalErrorVisible.set(false)"
              />
            </div>
          </p-dialog>
        </div>
        <div class="card flex justify-center">
          <p-dialog
            header="Admin created"
            [modal]="true"
            [visible]="modalOkVisible()"
            styleClass="w-80 p-4 border border-green-600 bg-green-300 text-grey"
          >
            <div class="gap-4 mb-4">
              <p class="pb-2" i18n="@@createAdmin.modalCreated">Admin created.</p>
            </div>
          </p-dialog>
        </div>
      }
    </p-dialog>
  </div>

  <!--  THE THIRD MODAL -->
  <div class="card flex justify-center">
    <div class="card flex justify-center">
      <p-dialog
        header="Confirm Action"
        [modal]="true"
        [visible]="modalConfirmVisible()"
        styleClass="w-80 p-4 border-red-600 bg-red-400  text-text"
        (onHide)="modalErrorVisible.set(false)"
      >
        <div class="gap-4 mb-4">
          <p class="pb-2" i18n="@@deleteAdmin.modalConfirmFirstP">Are you sure?</p>
        </div>
        <div class="flex justify-end gap-2">
          <p-button
            aria-label="Confirm"
            label="Confirm"
            severity="secondary"
            class="bg-card rounded p-2 transition hover:bg-hover text-red-600 mb-1 cursor-pointer hover:text-text"
            (click)="delete()"
          />
        </div>
      </p-dialog>
    </div>
    <div class="card flex justify-center">
      <p-dialog
        header="Error"
        [modal]="true"
        [visible]="modal3ErrorVisible()"
        styleClass="w-80 p-4 border border-red-600 bg-red-400 text-text"
        (onHide)="modalErrorVisible.set(false)"
      >
        <div class="gap-4 mb-4">
          <p class="pb-2" i18n="@@deleteAdmin.modalErrorFirstP">Oops, something went wrong.</p>
          <p class="pb-2">{{ errorMsg() }}</p>
        </div>
        <div class="flex justify-end gap-2">
          <p-button
            aria-label="Confirm"
            label="Close"
            severity="secondary"
            (click)="modalErrorVisible.set(false)"
          />
        </div>
      </p-dialog>
    </div>
    <div class="card flex justify-center">
      <p-dialog
        header="Success"
        [modal]="true"
        [visible]="modal3OkVisible()"
        styleClass="w-80 p-4 border border-green-600 bg-green-300 text-grey"
      >
        <div class="gap-4 mb-4">
          <p class="pb-2" i18n="@@deleteAdmin.modalCreated">Admin Deleted.</p>
        </div>
      </p-dialog>
    </div>
  </div>
</div>
